.navbar_menu__content {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.header_top {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}

.header_start__navigation {
    background-color: #fff !important;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}