.form_user {
  background-color: rgba(255, 170, 0, 0.266);
  margin-top: 150px;
}

.form_text {
  text-align: center;
  font-size: 5rem;
  color: rgb(9, 25, 201);
}

.login_btn,
.register_btn {
  background-color: #e99c2e;
  width: 100px;
  height: 40px;
}
